.main-container {
  justify-content: center;
}

.container {
  width: fit-content;
  margin: 0 auto;
}

.topmost {
  text-align: center;
}
.line {
  border-left: 2px solid yellow;
  padding-left: 10px;
}

hr {
  background-color: aqua;
  height: 0.06px;
  border: none;
}
.focaccia-image {
  border-radius: 3%;
}

.top {
  color: darkcyan;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: rgb(251, 250, 237);
  border-top: 1px solid yellow;
}

.focaccia {
  color: lightslategrey;
  text-align: center;
}
.featured {
  color: chocolate;
  margin-bottom: 0;
}
.cranberry {
  color: darkcyan;
}
.fresh {
  margin-top: 0;
}
.logo {
  text-align: center;
}
